image: ghcr.io/cirruslabs/flutter

stages:
  - build

android:
  stage: build
  script:
    - touch .env
    - echo "AUTH0_CLIENT_ID=${AUTH0_CLIENT_ID}" > .env  
    - echo "AUTH0_DOMAIN=${AUTH0_DOMAIN}" >> .env       
    - echo "CLOUD_API_KEY=${CLOUD_API_KEY}" >> .env       
    - echo "CLOUD_API_SECRET=${CLOUD_API_SECRET}" >> .env       
    - echo "CLOUD_NAME=${CLOUD_NAME}" >> .env
    - flutter build apk --release --build-number ${CI_JOB_ID:0:8}
    - flutter build appbundle --release --build-number ${CI_JOB_ID:0:8}
    - rm .env
  artifacts:
    paths:
      - build/app/outputs/
    expire_in: 1 hour