version: "3.8"
services:

  db:
    image: postgres
    environment: 
      POSTGRES_USER: random
      POSTGRES_PASSWORD: pinfo1
      POSTGRES_DB: spark
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
  
  kafka:
    image: bitnami/kafka
    volumes:
      - kafka:/bitnami/kafka
    ports:
      - 9092:9092
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    container_name: kafka

volumes:
  kafka:
  postgres:
