variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task


build:
  stage: build
  image: maven
  script: mvn clean install -DskipTests
  artifacts:
    untracked: false
    when: on_success
    expire_in: "30 days"
    paths:
      - target/
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

test:
  stage: test
  image: maven
  script: mvn test
  needs:
    - job: build
      artifacts: true
  artifacts:
    untracked: false
    when: on_success
    expire_in: "30 days"
    paths:
      - target/jacoco-report/
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

quality-gate:
  stage: test
  image: maven:3-openjdk-17
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - mvn verify sonar:sonar -Dsonar.projectKey=pinfo1_events -Dsonar.qualitygate.wait=true
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG
  needs:
    - job: test
      artifacts: true


publish:
  stage: deploy
  image: maven
  script:
    - mvn install
      -Dquarkus.container-image.push=true
      -Dquarkus.container-image.name=$CI_PROJECT_NAME
      -Dquarkus.container-image.registry=$CI_REGISTRY
      -Dquarkus.container-image.group=$CI_PROJECT_NAMESPACE
      -Dquarkus.container-image.tag=$CI_COMMIT_SHORT_SHA
      -Dquarkus.container-image.additional-tags=latest
      -Dquarkus.container-image.username=$CI_REGISTRY_USER
      -Dquarkus.container-image.password=$CI_REGISTRY_PASSWORD
  needs:
    - job: build
      artifacts: true
    - job: quality-gate
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: never


trigger_job:
  stage: deploy
  trigger:
    project: p-info-2024/p-info-1/deployment
  variables:
    EVENT_TAG: $CI_COMMIT_SHORT_SHA
  needs:
    - job: publish
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: never
    
